.container{
  max-width: 665px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.sort{
  background: #BDBDBD;
  width: 150px;
  min-height: 100vh;
  padding-left: 21px;
  p{
    margin-top: 35px;
  }
  button{
    margin-bottom: 10px;
  }
}