body {
  margin: 0;
  overflow-y: scroll;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
}
button{
  cursor: pointer;
  background: #4B51EF;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  border: 0px;
}
button.activeBtn{
  background: #0fbeff;
}
